h1{
    color: rgb(31, 2, 231);
    background-color: rgba(14, 153, 63, 0.226);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    text-decoration: underline;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    letter-spacing: 2px;
}